* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  user-select: none;
}

.calculator {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: #ccc;

  @media (min-width: 1025px) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    height: 70vh;
    border: solid 2px black;
  }

  &__main-part-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__history-container {
    display: block;
    position: absolute;
    bottom: -80%;
    width: 100%;
    height: 70%;
    padding: 10px;
    transition: 1s;
    background-color: #bbb;
    overflow: hidden;
    letter-spacing: 0.1em;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &__history-list {
    margin-top: 20px;
  }
  // &__history-element:last-child {
  //   display: none;
  // }

  &__history-button {
    display: block;
    text-align: right;
  }

  .is-visible {
    bottom: 0;
  }

  #calculator__history-button {
    font-size: 36px;
    padding-right: 4px;
    padding-top: 4px;
    cursor: pointer;
  }

  &__display {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: 25%;
    padding: 4px 8px;
    font-size: 30px;

    @media (min-width: 768px) {
      font-size: 40px;
    }
  }

  &__memory-container {
    display: flex;
    width: 100%;
    padding: 4px 10px;
  }

  &__memory-button {
    display: flex;
    flex-basis: 30px;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-bottom: 2px;
    margin-left: 20px;
  }

  &__buttons-container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(25% - 1px);
    margin-bottom: 1px;
    background-color: #ddd;

    &--is-lighter {
      background-color: #eee;
    }
  }

  &__memory-button:active,
  &__button:active {
    background-color: #bbb;
  }

  &__memory-button:hover,
  &__button:hover {
    @media (min-width: 1025px) {
      background-color: #bbb;
      cursor: pointer;
    }
  }
}
