.history-container {
  display: block;
  position: absolute;
  bottom: -80%;
  width: 100%;
  height: 70%;
  padding: 10px;
  transition: 1s;
  background-color: #bbb;
  overflow: hidden;
  letter-spacing: 0.1em;

  &__is-visible {
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 70%;
    padding: 10px;
    transition: 1s;
    background-color: #bbb;
    overflow: hidden;
    letter-spacing: 0.1em;
  }

  @media (min-width: 768px) {
    display: block;
  }

  &__history-list {
    margin-top: 20px;
  }
}
